!!! 5
html(lang="en")
  head
    title Vision
      link(rel="stylesheet", src="stylesheets/style.css")
        script(src="/socket.io/socket.io.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="prov.js")
  body
    canvas(id="video", width="640", height="480")