doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript')
        var socket = io.connect('http://localhost');
        var str = "";
        socket.on("frame", function(data){
            //socket.emit("frame_response", { error: false });
            var frame = new Uint8Array(data);
            var blob = new Blob([frame], {'type': 'image\/jpeg'});
            var src = window.URL.createObjectURL(blob);
            $("#video").attr('src', src);
        });
  body
    block content